.insurance-offer-price-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Roboto;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	text-align: center;
	margin: 15px;

	.insurance-offer-price-money-wrapper {
		display: flex;
		flex-direction: row;
		justify-items: start;

		.insurance-offer-price-price {
			font-size: 38px;
			font-weight: 700;
			letter-spacing: normal;
		}

		.insurance-offer-price-currency {
			width: 9px;
			height: 19px;
			margin: 5px 0 20px 4px;
			font-size: 16px;
			font-weight: normal;
			letter-spacing: normal;
		}
	}

	.insurance-offer-price-subtitle {
		font-size: 11px;
		font-weight: normal;
		letter-spacing: 1px;
	}
}
